@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    
    --second-bg-color: #ffd467;
    --text-color: #ff8514;
    --main-color: #ff8514;
}

body {
    background: var(--second-bg-color);
    color: var(--text-color);
}


section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

span {
    color: var(--main-color);
    
}

.contact h2 {
    margin-bottom: 3rem;
}


.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    border: 2px #ff8716 solid;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.cta-button{
    margin-top: 1rem;
    border-radius: 0;
    font-size: 1rem;
    color: #ff8514;
    border: 2px #ff8716 solid;
    width: 180px;
    transition: .5s ease;
    box-shadow: 0 0 1rem var(--main-color);
    
}

.cta-btn:hover {
    box-shadow: none;
}


@media (max-width: 450px) {

    .contact form .input-box input {
        width: 100%;
    }
}